<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Login &amp; Reg | Home</title>
      </head>
      <style>
            input {
                  display: block;
            }
      </style>
      <body>
            <h1>Registration</h1>
            <form action="/" method="post">
                  {% csrf_token %}
                  First Name:<input type="text" name="first_name">
                  Last Name:<input type="text" name="last_name">
                  Email:<input type="text" name="email_reg">
                  Password:<input type="text" name="pw_reg">
                  Confirm Password:<input type="text" name="conf_pw">
                  <input type="submit" name="reg_btn" value="Register">
            </form>
            <h1>Login</h1>
            <form action="/" method="post">
                  Email: <input type="text" name="email_log">
                  Password: <input type="text" name="email_log">
                  <input type="submit" name="login_btn" value="Login">
            </form>
      </body>
</html>
