<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete {{id}}?</title>
  </head>
  <body>
    <h2>Delete {{id}}?</h2>
    <h4>Are you sure you want to delete the following course?</h4>
    <p>Name: {{course.name}}</p>
    <p>Description: {{course.description}}</p>
    <form class="form" action="/destroy/{{id}}" method="post">
      {% csrf_token %}
      <input type="hidden" name="course_id" value="{{id}}">
      <button type="reset" name="no">NO</button>
      <button type="submit" name="Yes">Yeeee</button>

    </form>

  </body>
</html>
